html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 24px;
    font-weight: normal;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    color: #333333;
    min-width: 330px;
    max-width: 1980px;
}

@font-face {
    font-family: 'ITC-Century-Light';
    src: url('../fonts/itc-century-light-1361512655.eot');
    src: local('☺'), url('../fonts/itc-century-light-1361512655.woff') format('woff'),
    url('../fonts/itc-century-light-1361512655.ttf') format('truetype'),
    url('../fonts/itc-century-light-1361512655.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, p {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.illustration {
    position: relative;
    width: 100%;
}

.illustration img {
    max-width: 100%;
    -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.4);
}

.page-heading {
    position: absolute;
    width: 100%;
}

.page-heading h1 {
    color: #f3ddc8;
    font-family: 'LiSong Pro', serif;
    text-align: center;
}

.big-heading {
    font-size: 120px;
    margin: 30px 0 15px 0;
}

.main-heading {
    font-size: 24px;
    margin: 0;
}

.background {
    background-image: url('../img/pattern.gif');
    padding: 60px 0 200px 0;
}

.page-content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 7%;
}

.links a {
    color: #333333;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

.clearfix:after {
    content: ' ';
    display: block;
    height: 0;
    width: 0;
    clear: both;
}

.main {
    float: left;
    width: 61%;
    padding-right: 7%;
}

.right-column {
    float: right;
    width: 31%;
    min-width: 260px;
}

.highlighted-text {
    color: #873c12;
    font-size: 36px;
    font-family: 'LiSong Pro', 'ITC-Century-Light', serif;
    line-height: 130%;
    margin-bottom: 60px;
}

.main .introduction {
    display: none;
}

li {
    list-style-type: none;
}

.section-heading {
    font-size: 48px;
    margin-bottom: 45px;
}

.list-heading {
    font-size: 36px;
    margin-bottom: 30px;
}

.workshop-content ul, .inner-content ul {
    margin-bottom: 35px;
    padding-left: 35px;
}

.right-column p,
.section-content p,
.inner-content li {
    font-size: 14px;
    line-height: 130%;
}

.section-content p {
    margin-bottom: 40px;
}

.inner-content li {
    margin-bottom: 15px;
}

.introduction p {
    margin-bottom: 70px;
}

.authors img {
    float: left;
    margin-right: 10px;
}

.nth-author {
    margin-bottom: 30px;
}

.attend-workshop {
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    border: 4px solid #e2e2e2;
    border-radius: 45px;
    background-image: url('../img/button-back.png');
    width: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    display: block;
    text-align: center;
    padding: 18px 0;
    margin-top: 60px;
}

.attend-workshop:active {
    background-image: url('../img/button-back-pressed.png');
}

.inner-list-heading {
    font-size: 24px;
    margin-bottom: 35px;
}

.infographics {
    display: inline-block;
    margin: 0 0 40px 0;
}

.infographics img {
    max-width: 100%;
}

.infographics figcaption {
    font-size: 14px;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Tahoma', sans-serif;
    text-align: center;
}

.right-column .inner-content {
    margin-bottom: 45px;
}

@media screen and (max-width: 1180px) {

    .big-heading {
        font-size: 100px;
        margin: 15px 0 5px 0;
    }

}

@media screen and (max-width: 940px) {

    .main, .right-column {
        width: 100%;
    }
    
    .main .introduction {
        display: block;
    }
    
    .right-column .introduction {
        display: none;
    }
    .attend-workshop {
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
    }

    .big-heading {
        font-size: 70px;
        margin: 10px 0 5px 0;
    }

    .main-heading {
        font-size: 14px;
    }
}

@media screen and (max-width: 620px) {
    .big-heading {
        font-size: 40px;
        margin: 5px 0 5px 0;
    }

    .main-heading {
        font-size: 12px;
    }

    .highlighted-heading {
        font-size: 28px;
    }
}
